
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IAMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <style>
        navImg .dropdown-toggle::after {
            display: none !important;
        }

        .policy-item {
            height: 44px;
            border-bottom: 1px solid white;
            text-align: left !important;
            padding-top: 14px;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarTopMenu" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img height="50" src="https://ztbl.com.pk/wp-content/themes/ztbl/images/logo_new.png" alt="Logo"></a>

            <div id="navBarTopMenu" class="collapse navbar-collapse">
               
                   
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    @{
                        @if (ViewData["TopMenu"] != null)
                        {
                            foreach (var item in (dynamic)(ViewData["TopMenu"]))
                            {
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @item.Menu_Name
                        </a>
                        @if (ViewData["TopMenuPages"] != null)
                        {
                            <div class="dropdown-menu" aria-labelledby="">
                                @{
                                    foreach (var itemPage in (dynamic)(ViewData["TopMenuPages"]))
                                    {
                                        if (itemPage.Menu_Id == item.Menu_Id)
                                        {<a class="dropdown-item" href="~/@itemPage.Page_Path">@itemPage.Page_Name</a>}

                                    }
                                }
                            </div>
                         }
                        </li>

                            }
                         }
                     }
                    <!--
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navRisk" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </a>
        <div class="dropdown-menu" aria-labelledby="navRisk">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navPlanning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navPlanning">
            <a class="dropdown-item" href="~/Planning/audit_period">Audit Period</a>
            <a class="dropdown-item" href="~/Planning/team_members">Team Members</a>
            <a class="dropdown-item" href="~/Planning/audit_criteria">Audit Criteria</a>
            <a class="dropdown-item" href="~/Planning/holiday_calendar">Holiday Calender</a>
            <a class="dropdown-item" href="~/Planning/tentative_audit_plan">Tentative Audit Plan</a>
            <a class="dropdown-item" href="~/Planning/submission_for_review">Submission for Review</a>
            <a class="dropdown-item" href="~/Planning/submission_for_approval">Submission for Approval</a>
            <a class="dropdown-item" href="~/Planning/plan_approvals">Plan Approvals</a>
            <a class="dropdown-item" href="~/Planning/post_changes_approved_plan">Post Changes in Approved Plan</a>
            <a class="dropdown-item" href="~/Planning/post_changes_team_members">Post Changes in Team Members</a>
            <a class="dropdown-item" href="~/Planning/special_assignment">Special Assignments</a>

        </div>
    </li>
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navEngagement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Engagement
        </a>
        <div class="dropdown-menu" aria-labelledby="navEngagement">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navExecution" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Execution
        </a>
        <div class="dropdown-menu" aria-labelledby="navExecution">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navReports">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navSetup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Setup
        </a>
        <div class="dropdown-menu" aria-labelledby="navSetup">
            <a class="dropdown-item" href="~/BranchSetup/">Branch</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navSetup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration Panel
        </a>
        <div class="dropdown-menu" aria-labelledby="navSetup">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
        -->
                </ul>
    </div>
    <div id="navBarTopMenu" class="collapse navbar-collapse float-right">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left:auto;">
            <li id="avatarImg" class="nav-item active dropdown float-right">
                <a class="nav-link dropdown-toggle" href="#" id="navImg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle" height="30" src="https://spng.subpng.com/20181117/yz/kisspng-gravatar-image-computer-icons-portable-network-gra-5bf017f8c278f5.0662917115424614327966.jpg" />
                </a>
                <div class="dropdown-menu" aria-labelledby="navImg">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="~/login">Logout</a>
                </div>
            </li>
                        
                </ul>
</div>
        </nav>
    </header>
    <div id="sidebar_policy" style="height:81%; padding:0px; position:absolute !important; z-index:99; width:300px; right:0; background-color:#efefef;" class="col-md-4">
        <div class="text-center">
            <div style="height:50px; background-color:#808080; width:100%; padding-top:10px;">
                <h5>Digital Library</h5>
            </div>
            <div class="container">
                <div class="policy-item">
                    Policy 1
                </div>
                <div class="policy-item">
                    Policy 2
                </div>
                <div class="policy-item">
                    Policy 3
                </div>
                <div class="policy-item">
                    Policy 4
                </div>
                <div class="policy-item">
                    Policy 5
                </div>
                <div class="policy-item">
                    Policy 6
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - IAMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
