
@{
    ViewData["Title"] = "Inspection Unit";
    Layout = "_Layout";
}

<script type="text/javascript">
    $(document).ready(function () {
        var g_divId = 0;
        $('#sidebar_policy').hide();
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listOfAuditZone tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function newAZSetup() {
        g_divId = 0;
        $('#setupAZModal').modal('show');
        $('#AZCodeModalField').val('');
        $('#AZNameModalField').val('');
        $('#AZAddressModalField').val('');
    }

    function setupAuditZone(code, name, desc, status, id) {
        g_AZId = id;
        console.log(code, name, desc, status, id);
        $('#AZCodeModalField').val(code);
        $('#AZNameModalField').val(name);
        $('#AZAddressModalField').val(desc);
        if (status == "Active")
            $('#AZActiveModalField').click();
        else if (status == "InActive")
            $('#AZInactiveModalField').click();

        $('#setupAZModal').modal('show');
    }

    function publishAuditZoneChanges() {

        var code = $('#AZCodeModalField').val();
        var name = $('#AZNameModalField').val();
        var desc = $('#AZAddressModalField').val();
        var status;
        var badge;
        if ($('#AZActiveModalField').is(':checked')) {
            status = 'Active';
            badge = 'badge-success ';
        }
        else {
            status = 'InActive';
            badge = 'badge-danger ';
        }
        if (g_divId == 0)
            var row = "<tr id=\"AZ_" + g_AZId + "\"><td class=\"AZ_code\"><p class=\"fw-normal mb-1\">" + code + "</p></td><td class=\"AZ_name\"><p class=\"fw-normal mb-1\">" + name + "</p></td ><td class=\"AZ_desc\"><p class=\"fw-normal mb-1\">" + desc + "</p></td><td class=\"AZ_status\"><span class=\"badge " + badge + " rounded-pill d-inline\">" + status + "</span></td><td class=\"AZ_action\"><button type=\"button\" class=\"btn btn-link text-danger btn-sm btn-rounded\" onclick=\"setupAuditZone('" + code + "','" + name + "','" + desc + "','" + status + "','" + g_AZId + "');\">Edit</button></td></tr>";
        else
            $('#div_' + g_AZId).html("<td class=\"AZ_code\"><p class=\"fw-normal mb-1\">" + code + "</p></td><td class=\"AZ_name\"><p class=\"fw-normal mb-1\">" + name + "</p></td ><td class=\"AZ_desc\"><p class=\"fw-normal mb-1\">" + desc + "</p></td><td class=\"AZ_status\"><span class=\"badge " + badge + " rounded-pill d-inline\">" + status + "</span></td><td class=\"AZ_action\"><button type=\"button\" class=\"btn btn-link text-danger btn-sm btn-rounded\" onclick=\"setupAuditZone('" + code + "','" + name + "','" + desc + "','" + status + "','" + g_AZId + "');\">Edit</button></td>");
        $('#listOfAuditZone tbody').append(row);
        $('#setupAZModal').modal('hide');
        $.ajax({
            url: "/Setup/AuditZone_add",
            type: "POST",
            data: {
                'id': g_AZId,
                'code': code,
                'name': name,
                'description': desc,
                'status': status
            },
            cache: false,
            success: function (data) {
                console.log(data);
                window.location = window.location.pathname;

            },
            dataType: "json",
        });
    }
</script>

<div class="col-md-12" style="margin-top:20px;">
    <h3>List of Inspection Unit</h3>
    <div class="row">
        <div class="col-md-10">
            <input class="form-control" id="searchTableRecord" type="text" placeholder="Search..">
        </div>
        <div class="col-md-2">
            <button onclick="newAZSetup();" class="btn btn-danger w-100">Add New Inspection Unit</button>
        </div>
    </div>
    <br>
    <table id="listOfAuditZone" class="table align-middle mb-0 bg-white table-hover table-striped">
        <thead class="bg-light">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewData["AuditZoneList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["AuditZoneList"]))
                    {

                        <tr id="AZ_@item.ID">
                            <td class="AZ_code">
                                <p class="fw-normal mb-1">@item.ZONECODE</p>
                            </td>
                            <td class="AZ_name">
                                <p class="fw-normal mb-1">@item.ZONENAME</p>
                                
                            </td>
                            <td class="AZ_desc">
                                <p class="fw-normal mb-1">@item.DESCRIPTION</p>
                            </td>

                            <td class="AZ_status">
                                @{
                                    if (item.ISACTIVE == "Y")

                                    { <span class="badge badge-success rounded-pill d-inline">@item.ISACTIVE</span>}
                                else
                                { <span class="badge badge-danger rounded-pill d-inline">@item.STATUS</span>}
                                }
                            </td>
                            <td class="AZ_action">
                                <button type="button" class="btn btn-link text-danger btn-sm btn-rounded" onclick="setupAuditZone('@item.ZONECODE','@item.ZONENAME','@item.DESCRIPTION','@item.ISACTIVE','@item.ID');">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    }
                }}
        </tbody>
    </table>
</div>

<div id="setupAZModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Audit Zone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="branchCodeModalField">Code</label>
                        <input type="text" class="form-control" id="divCodeModalField" aria-describedby="brcode" placeholder="Division Code">

                    </div>
                    <div class="form-group">
                        <label for="AZNameModalField">Name</label>
                        <input type="text" class="form-control" id="AZNameModalField" placeholder="Audit Zone Name">
                    </div>
                    <div class="form-group">
                        <label for="AZAddressModalField">Address</label>
                        <textarea rows="3" class="form-control" id="divAddressModalField" placeholder="Division Address" draggable="false"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="AZAddressModalField">Status</label>
                        <div class="row col-md-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="divActiveModalField" value="option1" />
                                <label class="form-check-label" for="divActiveModalField">Active</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="AZInactiveModalField" value="option2" />
                                <label class="form-check-label" for="divInactiveModalField">Inactive</label>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button onclick="publishAuditZoneChanges();" type="button" class="btn btn-danger">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

