@{
    ViewData["Title"] = "Review Processes";
    Layout = "_Layout";
}
<style type="text/css">

    .listItems:hover {
        color: blue;
        text-decoration: underline;
    }

    .action:hover {
        font-size: 110%;
        cursor: pointer;
        font-weight: 600;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var g_groupId = 0;
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listOfProcTransactions tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function newGroupSetup() {
        g_groupId = 0;
        $('#recommendReferProcTransactionModal').modal('show');
        $('#groupNameModalField').val('');
        $('#groupDescModalField').val('');
    }

    function recommendReferProcTransaction(id) {
       
        $('#recommendReferProcTransactionModal').modal('show');
        $.ajax({
            url: "/Setup/process_transactions",
            type: "POST",
            data: {
                'transactionId': id
            },
            cache: false,
            success: function (data) {
                var tr = data[0];
                $('#viewerMainProcNameModalField').val(tr.procesS_NAME);
                $('#viewerNameModalField').val(tr.suB_PROCESS_NAME);
                $('#viewerDescModalField').val(tr.description);
                $('#viewerControlModalField').val(tr.controL_OWNER);
                $('#viewerDivModalField').val(tr.diV_NAME);
                $('#viewerActionModalField').val(tr.action);
                $('#viewerRiskModalField').val(tr.risK_WEIGHTAGE);
                $('#viewerRiskMaxModalField').val(tr.risK_MAX_NUMBER);
            },
            dataType: "json",
        });
    }

    function recommendProcTransaction() {

        var name = $('#groupNameModalField').val();
        var desc = $('#groupDescModalField').val();
        var status;
        var badge;
        if ($('#groupActiveModalField').is(':checked')) {
            status = 'Y';
            badge = 'badge-success ';
        }
        else {
            status = 'N';
            badge = 'badge-danger ';
        }
        $.ajax({
            url: "/AdministrationPanel/group_add",
            type: "POST",
            data: {
                'GROUP_ID': g_groupId,
                'GROUP_NAME': name,
                'GROUP_DESCRIPTION': desc,
                'ISACTIVE': status
            },
            cache: false,
            success: function (data) {
                $('#recommendReferProcTransactionModal').modal('hide');
                console.log(data);
                window.location = window.location.pathname;

            },
            dataType: "json",
        });
    }
    function refferedBackProcTransaction() {
        $('#commentsBox').modal('show');
    }
    function refferedBackProcTransaction() {
        $('#commentsBox').modal('show');
    }
</script>

<div class="col-md-12" style="margin-top:20px;">
    <h3>List of Process Transactions to Review </h3>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" id="searchTableRecord" type="text" placeholder="Search..">
        </div>
    </div>
    <br>
    <table id="listOfProcTransactions" class="table align-middle mb-0 bg-white table-hover table-striped">
        <thead class="bg-light">
            <tr>
                <th>Process Name</th>
                <th>Sub Process Name</th>
                <th>Description</th>
                <th>Function Responsible</th>
                <th>Control Violation</th>
                <th>Risk Weightage</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
            if (ViewData["TransactionsList"] != null)
            {
            foreach (var item in (dynamic)(ViewData["TransactionsList"]))
            {

                        <tr id="div_@item.ID">
                            <td>
                                <p class="fw-normal mb-1">@item.PROCESS_NAME</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@item.SUB_PROCESS_NAME</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@item.DESCRIPTION</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@item.DIV_NAME</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"></p>
                            </td>
                            <td>
                                @{
                                    if (item.RISK_WEIGHTAGE == 3)
                                    {<p class="fw-normal mb-1">High</p>}
                                    else if (item.RISK_WEIGHTAGE == 2)
                                    {<p class="fw-normal mb-1">Medium</p>}
                                    else
                                    {<p class="fw-normal mb-1">Low</p>}
                                }
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@item.PROCESS_STATUS</p>
                            </td>
                            <td>
                                <button type="button" class="action btn btn-link text-danger btn-sm btn-rounded" onclick="recommendReferProcTransaction('@item.ID');">
                                    Details
                                </button>
                            </td>
                        </tr>
            }
            }}
        </tbody>
    </table>
</div>

<div id="recommendReferProcTransactionModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Transaction Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewerMainProcNameModalField">Process Name</label>
                        <input type="text" disabled class="form-control" id="viewerMainProcNameModalField" aria-describedby="Process Name" placeholder="Process Name">

                    </div>
                    <div class="form-group">
                        <label for="viewerNameModalField">Sub Process Name</label>
                        <input type="text" disabled class="form-control" id="viewerNameModalField" aria-describedby="Process Name" placeholder="Process Name">

                    </div>
                    <div class="form-group">
                        <label for="viewerDescModalField">Description</label>
                        <textarea class="form-control" disabled id="viewerDescModalField" aria-describedby="Enter Description here..." placeholder="Enter Description here..."></textarea>

                    </div>
                    <div class="form-group">
                        <label for="viewerControlModalField">Control Owner</label>
                        <input type="text" disabled class="form-control" id="viewerControlModalField" aria-describedby="Control Owner" placeholder="Control Owner">
                    </div>
                    <div class="form-group">
                        <label for="viewerDivModalField">Division</label>
                        <input type="text" disabled class="form-control" id="viewerDivModalField" aria-describedby="Control Owner" placeholder="Control Owner">
                    </div>
                    <div class="form-group">
                        <label for="viewerActionModalField">Action</label>
                        <input type="text" disabled class="form-control" id="viewerActionModalField" aria-describedby="Action" placeholder="Action">
                    </div>
                    <div class="form-group">
                        <label for="viewerRiskModalField">Risk Weightage</label>
                        <input type="text" disabled class="form-control" id="viewerRiskModalField" aria-describedby="Action" placeholder="Action">
                    </div>
                    <div class="form-group">
                        <label for="viewerRiskMaxModalField">Risk Max Number</label>
                        <input type="text" disabled class="form-control" id="viewerRiskMaxModalField" aria-describedby="Control Owner">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="refferedBackProcTransaction();" type="button" class="btn btn-danger">Refer Back</button>
                <button onclick="recommendProcTransaction();" type="button" class="btn btn-success">Recommend</button>

            </div>
        </div>
    </div>
</div>
<div id="commentsBox" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="commentAreaInCommentsBox">Comments</label>
                        <textarea class="form-control" rows="4" id="commentAreaInCommentsBox" placeholder="Enter Comments here.."></textarea>
                        

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="submitFinalChangesFromRecommender();" type="button" class="btn btn-danger">Submit</button>
            </div>
        </div>
    </div>
</div>

