@{
    ViewData["Title"] = "Engagement Plan";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_teams = [];
    var g_branches = [];
    $(document).ready(function () {
        $('#deptSelectionBox').addClass('d-none');
        $('.hiddenContainers').addClass('d-none');
        $('.fieldAuditFields').addClass('d-none');
        $('.nonFieldAuditFields').addClass('d-none');
        $('#branchInfoArea').addClass('d-none');        
        ShowDepartmentAuditPeriods();

    });
    function getBusinessDateCount(startDate, endDate) {
        var elapsed, daysBeforeFirstSaturday, daysAfterLastSunday;
        var ifThen = function (a, b, c) {
            return a == b ? c : a;
        };

        elapsed = endDate - startDate;
        elapsed /= 86400000;

        daysBeforeFirstSunday = (7 - startDate.getDay()) % 7;
        daysAfterLastSunday = endDate.getDay();

        elapsed -= (daysBeforeFirstSunday + daysAfterLastSunday);
        elapsed = (elapsed / 7) * 5;
        elapsed += ifThen(daysBeforeFirstSunday - 1, -1, 0) + ifThen(daysAfterLastSunday, 6, 5);

        return Math.ceil(elapsed);
    }
    function ShowDepartmentAuditPeriods() {
        if ($('#deptSelectionBox option:selected').val() == 0)
            $('.hiddenContainers').addClass('d-none');
        else {
             $('.hiddenContainers').removeClass('d-none');
            if ($('#deptSelectionBox option:selected').val() == '473') {
                 $('.fieldAuditFields').removeClass('d-none');
                $('.nonFieldAuditFields').addClass('d-none');
            } else {
                $('.nonFieldAuditFields').removeClass('d-none');
                $('.fieldAuditFields').addClass('d-none');
            }
            $.ajax({
                url: "/Planning/audit_periods",
                type: "POST",
                data: {
                    'dept_code': $('#deptSelectionBox option:selected').val()
                },
                cache: false,
                success: function (data) {
                    $('#periodSelectionBox').empty();
                    $('#periodSelectionBox').append('<option value="0" id="0">--Select Audit Period--</option>')
                    console.log(data);
                    $.each(data, function (index, period) {
                        $('#periodSelectionBox').append('<option value="' + period.id + '" id="' + period.id + '">' + period.description + '</option>')
                    });

                },
                dataType: "json",
            });
            $.ajax({
                url: "/Planning/audit_teams",
                type: "POST",
                data: {
                    'dept_code': $('#deptSelectionBox option:selected').val()
                },
                cache: false,
                success: function (data) {
                    $('#teamSelectionBox').empty();
                    $('#teamSelectionBox').append('<option value="0" id="0">--Select Audit Team--</option>')
                    g_teams = data;
                    $.each(data, function (index, team) {
                        if (team.iS_TEAMLEAD == 'Y')
                            $('#teamSelectionBox').append('<option value="' + team.code + '" id="' + team.code + '">' + team.name + '</option>')
                    });

                },
                dataType: "json",
            });
        }
    }
    function ShowSelectedZonesBranches() {
        if ($('#auditZoneSelectionBox option:selected').val() == 0) {
            $('#branchSelectionBox').empty();
            $('#branchInfoArea').addClass('d-none');
            $('#branchSelectionBox').append('<option value="0" id="0">--Select Audit Branch--</option>');
        }
        else {
            $('#branchSelectionBox').empty();
            $('#branchInfoArea').removeClass('d-none');
            $('#branchSelectionBox').append('<option value="0" id="0">--Select Audit Branch--</option>')
            $.ajax({
                url: "/Planning/zone_branches",
                type: "POST",
                data: {
                    'zone_code': $('#auditZoneSelectionBox option:selected').val()
                },
                cache: false,
                success: function (data) {
                    g_branches = data;
                    $('#branchSelectionBox').empty();
                    $('#branchInfoArea').hide();
                    $('#branchSelectionBox').append('<option value="0" id="0">--Select Audit Branch--</option>')
                    console.log(data);
                    $.each(data, function (index, branch) {
                        $('#branchSelectionBox').append('<option value="' + branch.id + '" id="' + branch.id + '">' + branch.description + '</option>')
                    });

                },
                dataType: "json",
            });
        }
    }
    function ShowSelectedDivisionDepartments() {
        if ($('#divSelectionBox option:selected').val() == 0) {
            $('#divDeptSelectionBox').empty();
            $('#divDeptSelectionBox').append('<option value="0" id="0">--Select Audit Department--</option>')
        }
        else {
            $('#divDeptSelectionBox').empty();
            $.ajax({
                url: "/Planning/div_departments",
                type: "POST",
                data: {
                    'div_code': $('#divSelectionBox option:selected').val()
                },
                cache: false,
                success: function (data) {
                    $('#divDeptSelectionBox').empty();
                    $('#divDeptSelectionBox').append('<option value="0" id="0">--Select Audit Department--</option>')
                    console.log(data);
                    $.each(data, function (index, dept) {
                        $('#divDeptSelectionBox').append('<option value="' + dept.id + '" id="' + dept.id + '">' + dept.name + '</option>')
                    });

                },
                dataType: "json",
            });
            getSubEntities();
        }
    }
    function ShowBranchInfoBox() {
        if ($('#branchSelectionBox option:selected').val() == 0) {
            $('#branchInfoArea').addClass('d-none');
        } else {
            $('#branchInfoArea').removeClass('d-none');}
    }
    function previewAuditPlan() {
        $('#previewAuditPlan').modal('show');
        $('#auditorDept').text($('#deptSelectionBox option:selected').text());
        $('#auditorPlan').text($('#periodSelectionBox option:selected').text());
        $('#descModal_field').html($('#entitySelectionBox option:selected').text());
        if ($('#deptSelectionBox option:selected').val() == '473') {
            $('#divzone_field').text($('#auditZoneSelectionBox option:selected').text());
            $('#deptBranch_field').text($('#branchSelectionBox option:selected').text());

        } else {
            $('#divzone_field').text($('#divSelectionBox option:selected').text());
            $('#deptBranch_field').text($('#divDeptSelectionBox option:selected').text());

        }        
        $('#exeFrom_field').html($('#executionPeriodFromField').val());
        $('#exeTo_field').html($('#executionPeriodToField').val());
        $('#operationalFrom_field').html($('#auditPeriodFromField').val());
        $('#operationalTo_field').html($('#auditPeriodToField').val());
        //
        if ($('#isTravelingRequiredField').is(":checked"))
            $('#travelingReq_field').html('Yes');
        else
            $('#travelingReq_field').html('No');
        $('#remarksAddtn_field').html($('#remarksAdditionalInfoField').val());
        $('#teamName_field').text($('#teamSelectionBox option:selected').text());
        //
        var teamMembersFields = "";
        $.each(g_teams, function (index, team) {
            if (team.name == $('#teamSelectionBox option:selected').text()) {
                if (team.iS_TEAMLEAD == "Y")
                    teamMembersFields += team.employeename + " " + team.teammembeR_ID + " (L)<br>";
                else
                    teamMembersFields += team.employeename + " " + team.teammembeR_ID + " (M)<br>";
            }
        });
        $('#teamMembers_field').html(teamMembersFields);

    }
    function publishNewAuditPlanChanges() {

        alert("Under Construction");
        return false;
        var periodId = $('#periodSelectionBox option:selected').val();
        var stDate = $('#executionPeriodFromField').val();
        var edDate = $('#executionPeriodToField').val();
        var period_stDate = $('#auditPeriodFromField').val();
        var period_edDate = $('#auditPeriodToField').val();
        var conducted_by = $('#deptSelectionBox option:selected').val();
        var no_days = getBusinessDateCount(new Date(stDate), new Date(edDate));
        var zoneId = $('#auditZoneSelectionBox option:selected').val();
        var branchId = 0;
        if (zoneId != 0)
            branchId = $('#branchSelectionBox option:selected').val();

        var divId = $('#divSelectionBox option:selected').val();
        var deptId = 0;
        if (divId != 0)
            deptId = $('#divDeptSelectionBox option:selected').val();

        var teamId = $('#teamSelectionBox option:selected').val();
        var status = 1;
        var desc = $('#descriptionAuditPlanField').val() ;
        
       $.ajax({
           url: "/Planning/add_audit_plan",
            type: "POST",
            data: {
                'AUDITPERIOD_ID': periodId,
                'AUDIT_STARTDATE': stDate,
                'AUDIT_ENDDATE': edDate,
                'AUDITPERIOD_FROM': period_stDate,
                'AUDITPERIOD_TO': period_edDate,
                'AUDIT_CONDUCTBY_DEPT': conducted_by,
                'NO_OF_DAYS_AUDIT': no_days,
                'AUDIT_ZONEID': zoneId,
                'BRANCHID': branchId,
                'DIVISION_ID': divId,
                'DEPARTMENT_ID': deptId,
                'TEAM_CONST_ID': teamId,
                'STATUS': status,
                'DESCRIPTION': desc
            },
            cache: false,
            success: function (data) {
                window.location.href = "/Planning/audit_plan?dept=" + $('#deptSelectionBox option:selected').val() + "&periodId=" + $('#periodSelectionBox option:selected').val();
            },
            dataType: "json",
        });
    }
    function getSubEntities() {
        if ($('#divSelectionBox option:selected').val() != 0) {
            $('#entitySelectionBox').empty();
            $('#entitySelectionBox').append('<option value="0" id="0" selected="selected">--Select Sub Entity--</option>');
            $.ajax({
                url: "/Setup/get_sub_entities",
                type: "POST",
                data: {
                    'div_id': $('#divSelectionBox option:selected').val(),
                    'dept_id': $('#divDeptSelectionBox option:selected').val(),
                },
                cache: false,
                success: function (data) {
                  $.each(data, function (index, ent) {
                      $('#entitySelectionBox').append('<option value="'+ent.id+'" id="'+ent.id+'" >'+ent.name+'</option>');
                    });

                },
                dataType: "json",
            });
           
        } else
        {
            $('#entitySelectionBox').empty();
            $('#entitySelectionBox').append('<option value="0" id="0" selected="selected">--Select Sub Entity--</option>');
        }
        

    }
</script>
<div class="row w-100">
    <div class="col-md-8">
        <h3 style="color: #45c545;">Create Audit Plan</h3>
       <select id="deptSelectionBox" onchange="ShowDepartmentAuditPeriods();" class="form-select form-control">
           @{
                if (ViewData["AuditDepartments"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["AuditDepartments"]))
                    {
                        <option selected="selected" value="@item.CODE" id="@item.CODE">@item.NAME</option>
                    }
                }
            }

        </select>
        <div class="hiddenContainers d-none mt-3">
            <h5>Select Audit Period</h5>
            <select id="periodSelectionBox" class="form-select form-control">
            </select>
            <div class="row fieldAuditFields mt-3 d-none">
                <div class="col-md-6">
                    <h5>Select Audit Zone</h5>
                    <select id="auditZoneSelectionBox" onchange="ShowSelectedZonesBranches();" class="form-select form-control" aria-label="Default select example">
                        <option value="0" id="0" selected>--Select Audit Zone--</option>
                        @{
                            if (ViewData["AuditZonesList"] != null)
                            {
                                foreach (var item in (dynamic)(ViewData["AuditZonesList"]))
                                {
                                    <option value="@item.ZONECODE" id="@item.ZONECODE">@item.ZONENAME</option>
                                }
                            }
                        }
                    </select>

                </div>
                <div class="col-md-6">
                    <h5>Select Audit Branch</h5>
                    <select id="branchSelectionBox" onchange="ShowBranchInfoBox();" class="form-select form-control" aria-label="Default select example">
                        <option value="0" id="0">--Select Audit Branch--</option>
                    </select>
                </div>
            </div>
            <div class="row nonFieldAuditFields mt-3">
                <div class="col-md-6">
                    <h5>Select Audit Division</h5>
                    <select id="divSelectionBox" onchange="ShowSelectedDivisionDepartments();" class="form-select form-control" aria-label="Default select example">
                        <option value="0" id="0" selected>--Select Audit Division--</option>
                        @{
                            if (ViewData["DivisionsList"] != null)
                            {
                                foreach (var item in (dynamic)(ViewData["DivisionsList"]))
                                {
                                    <option value="@item.DIVISIONID" id="@item.DIVISIONID">@item.NAME</option>
                                }
                            }
                        }
                    </select>

                </div>
                <div class="col-md-6">
                    <h5>Select Audit Department</h5>
                    <select id="divDeptSelectionBox" onchange="getSubEntities();" class="form-select form-control" aria-label="Default select example">
                        <option value="0" id="0">--Select Audit Department--</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3 w-100">
                <div class="col-md-12"><h5>Entities</h5></div>
                <div class="col-md-12">
                    <select id="entitySelectionBox" class="form-select form-control" aria-label="Default select example">
                        <option value="0" id="0" selected>--Select Sub Entity--</option>
                       
                    </select>
                </div>
               </div>
            <div class="row mt-3 w-100">
                <div class="col-md-12"><h5>Execution Period</h5></div>
                <div class="col-md-6">
                    Start Date:<input id="executionPeriodFromField" class="form-control" type="date" />
                </div>
                <div class="col-md-6">
                    End Date:<input id="executionPeriodToField" class="form-control" type="date" />
                </div>
            </div>
            <div class="row mt-3 w-100">
                <div class="col-md-12"><h5>Operational/Audit Period</h5></div>
                <div class="col-md-6">
                    Start Date:<input id="auditPeriodFromField" class="form-control" type="date" />
                </div>
                <div class="col-md-6">
                    End Date:<input id="auditPeriodToField" class="form-control" type="date" />
                </div>
            </div>
            <div class="row mt-3 w-100">
                <div class="col-md-12">
                    <h5>Select Audit Team</h5>
                </div>
                <div class="col-md-12">
                    <select id="teamSelectionBox" class="form-select form-control" aria-label="Default select example">
                    </select>
                </div>
            </div>
            <div class="row mt-3 w-100">
                <div class="col-md-12">
                    <h5>Remarks/Instructions for Auditors</h5>
                </div>
                <div class="col-md-12">
                    <textarea id="remarksAdditionalInfoField" rows="4" class="form-control"></textarea>
                </div>
            </div>
            <div class="row mt-3 w-100">
                <div class="col-md-4">
                    <h5>Is Traveling Required</h5>
                </div>
                <div class="col-md-8">
                    <input id="isTravelingRequiredField" type="checkbox" style="font-size:20px;" />
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-4">
        <div id="branchInfoArea" class="mt-3 col-md-12 d-none">
            <h5>Branch Information</h5>
            <table class="table table-bordered table mb-0 mt-3 bg-white table-hover table-striped">

                <tbody>
                    <tr>
                        <td>Branch Name</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Branch Size</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Risk Rating</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>No. of Loan Cases (Disbersed During the Period)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Amount Disbursed</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>No. of New Account Opened</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Last Audited On</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row col-md-12 w-100 mt-3">
    <button style="width:150px;" class="btn btn-lg btn-danger">Cancel</button>
    <button style="width:150px; margin-left:50px; margin-right:50px;" class="btn btn-lg btn-danger">Reset</button>
    <button onclick="previewAuditPlan();" style="width: 150px;" class="btn btn-lg btn-danger">Preview</button>

</div>


<div id="previewAuditPlan" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Preview Audit Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <center class="col-md-12"><h3 id="auditorDept"></h3></center>
                        <center class="col-md-12"><h4 id="auditorPlan"></h4></center>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Division/Audit Zone</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="divzone_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Department/Branch</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="deptBranch_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Entities</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="descModal_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4 class="col-md-12">Execution Period</h4>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>From</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="exeFrom_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>To</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="exeTo_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4 class="col-md-12">Operational/Audit Period</h4>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>From</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="operationalFrom_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>To</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="operationalTo_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4 class="col-md-12">Audit Team</h4>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Team Name</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="teamName_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Team Members</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="teamMembers_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Is Traveling Required </b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="travelingReq_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label><b>Remarks/Instructions for Auditors</b></label>
                        </div>
                        <div class="col-md-12">
                            <label id="remarksAddtn_field"></label>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button onclick="publishNewAuditPlanChanges();" type="button" class="btn btn-danger">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


